/* img#profile-img {
    width: 70%;
}

.profile-icon {
    width: 5%;
}

@media (max-width:400px) {
    .profile-icon {
        width: 20%;
    }
}
@media (max-width:700px) and (min-width:401px) {
    .profile-icon {
        width: 10%;
    }
}

.img-icon {
width: fit-content ;
}

.header {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
}

.dropdown {
    text-align: center;
    width: 10%;
    margin: 20px;
    padding: 5px;
    background-color: aliceblue;
    float:right;
}

.logo {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.dashboard-container {
    width:100%;
} */


.a.MuiTypography-root.MuiTypography-h6.MuiTypography-noWrap.css-m5x0z-MuiTypography-root{
    font-family: 'Montserrat', sans-serif!important;
}

header {
    width: 100%;
}